<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <br/><br/>
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}">Campaigns</span>
            </div>

            <!--<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>-->
        </div>
    </div>

    <div th:if="${not #lists.isEmpty(campaigns)}">
        <h2>Campaigns List</h2><br/>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Campaign Name</th>
                <th>Description</th>
                <th>Target Amount</th>
                <th>City</th>
            </tr>

            <tr th:each="campaign : ${campaigns}">
                <td th:text="${campaign.id}"><a href="/campaign/${campaign.id}">Id</a></td>
                <td th:text="${campaign.cam_name}">campaign name</td>
                <td th:text="${campaign.description}">descirption</td>
                <td th:text="${campaign.amount}">amount</td>
                <td th:text="${campaign.city}">amount</td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>