<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Campaign Lists</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(campaigns)}">
        <h2>Campaign Lists</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Campaign Name</th>
                <th>Category</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Target Amount</th>
                <th>City</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="campaign : ${campaigns}">
                <td th:text="${campaign.id}"><a href="/campaign/${campaign.id}">Id</a></td>
                <td th:text="${campaign.compaignName}">compaignName</td>
                <td th:text="${campaign.category}">category</td>
                <td th:text="${campaign.type}">type</td>
                <td th:text="${campaign.startDateTime}">startDateTime</td>
                <td th:text="${campaign.endDateTime}">endDateTime</td>
                <td th:text="${campaign.amount}">amount</td>
                <td th:text="${campaign.city}">city</td>
                <td><a th:href="${ '/campaign/' + campaign.id}">View</a></td>
                <td><a th:href="${'/campaign/edit/' + campaign.id}">Edit</a></td>
                <td><a th:href="${'/campaign/delete/' + campaign.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>